.wrapper{
    width:100%;
    height:500px;
}
header{
    margin:100px 0 0 0;
}
.navber-default{
    background: #2b669a;
}
.error > p{
    color:red;
}
.form-login{
    margin-top:100px;
}